.focus-section{
  max-width: 1100px;
  width: 100%;
  margin: 50px auto;
  /* background-color: lightgray; */
}

.focus-header h2{
  width: 100%;
  color: #222;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}

.focus-header h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 36px 36px 0 0;
  border-color: #fab617 transparent transparent;
  z-index: -1;
}

.focus-body{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  height: 330px;
  overflow: hidden; /* 防止爆版 */
}

.focus-left,
.focus-right {
  min-height: 0; 
}

.focus-left{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr 2fr;
  gap: 15px;
  height: 100%;
}

.focus-left-card:nth-child(1){
  grid-column: 1;
  grid-row: 1 / 4;
}

.focus-left-card:nth-child(2){
  grid-column: 2;
  grid-row: 1 / 3;
}

.focus-left-card:nth-child(3){
  grid-column: 2;
  grid-row: 3 / 4;
}

.focus-left-card:nth-child(4) {
  grid-column: 3;
  grid-row: 1 / 2; 
}

.focus-left-card:nth-child(5) {
  grid-column: 3;
  grid-row: 2 / 4; 
}

.focus-left-card{
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.focus-left-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.focus-left-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.focus-right{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.focus-right-card{
  display: flex;
  background-color: #fafafa;
  min-height: 66px;
  border-radius: 8px;
}

.focus-right-card img{
  width: 110px;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
}

.focus-right-content{
  flex: 1;
  display: flex;
  align-items: start;
  justify-self: start;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  width: calc(100% - 110px);
}
