.japan-tours-section{
  max-width: 1100px;
  width: 100%;
  margin: 50px auto;
  /* background-color: lightgray; */
}

.japan-tours-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.japan-tours-header h2{
  color: #222;
  font-size: 30px;
  font-weight: 700;
  position: relative;
}

.japan-tours-header h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 18px 0 0;
  border-color: #11d073 transparent transparent;
  z-index: -1;
}

.japan-tours-list{
  display: flex;
  justify-self: start;-self: start;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
}

.japan-tours-list li{
  font-size: 18px;
  padding: 0 5px;
  line-height: 10px;
  font-weight: 700;
}

.japan-tours-list li:hover{
  color: #0c9251;
  cursor: pointer;
  text-decoration: none;
}

.japan-tours-list li:active,
.is-clicks.is-active{
  color: #0c9251;
  text-decoration: underline solid 2px;
  text-underline-offset: 10px;
  cursor: pointer;
}

.japan-tours-content{
  display: none; /* 預設不顯示 */
  /* display: grid; */
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: 400px;
  overflow: hidden; /* 防止爆版 */
}

.japan-tours-content.active {
  display: grid; /* 點擊或預設 active 顯示 */
  height: 400px;
}

.big-card,
.small-card{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.big-card {
  grid-column: 1 / 2; /* 占第一格寬度 */
  grid-row: 1 / 3;    /* 占兩列高度 */
}

.img-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.img-wrapper img,
.small-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.japan-card-overlay,
.small-card .overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  /* 文字 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.japan-card-overlay .title, 
.small-card .overlay .title, 
.japan-card-overlay .description, 
.small-card .overlay .description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.title{
  font-size: 20px;
}
.description{
  font-size: 16px;
}

.price span{
  font-size: 18px;
  color: orange;
}


.japan-card-overlay .price,
.small-card .overlay .price{
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.small-cards {
  display: contents;
  gap: 20px;
  height: 100%;
}

.small-card:nth-child(1) {
  grid-column: 2 / 3; /* 右邊第一列左上 */
  grid-row: 1 / 2;
}

.small-card:nth-child(2) {
  grid-column: 3 / 4; /* 右邊第一列右上 */
  grid-row: 1 / 2;
}

.small-card:nth-child(3) {
  grid-column: 2 / 3; /* 右邊第二列左下 */
  grid-row: 2 / 3;
}

.small-card:nth-child(4) {
  grid-column: 3 / 4; /* 右邊第二列右下 */
  grid-row: 2 / 3;
}




